#login-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#login-hero {
  background-image: url(../../assets/login-hero.png);
  background-size: cover;
  width: 56%;
  height: 100%;
}

#gradient {
  background-image: url(../../assets/gradient.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

#form-container {
  flex-grow: 1;
  display: grid;
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . lf . . ."
    ". . . . . ."
    ". . . . . ."
}
